<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet", type="text/css", href="{%static 'time_capsule/styles.css' %}">
    <!-- Latest compiled and minified CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Home</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="bg-secondary text-white">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div clas="container-fluid">
            <div class="collapse navbar-collapse" id="mynavbar">
              {%load static%}
              <a class="navbar-brand ps-3" href="/"><img src="{% static 'time_capsule/transparentHourglass.png' %}"class="img-fluid" alt="My image"></a>
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="/about/">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/letters/">Letters</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/form/">Forms</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/capsules/">My Capsules</a>
                  </li>
                  {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="/logout/">Logout</a>
                  </li>
                  {%else%}
                  <li class="nav-item">
                    <a class="nav-link" href="/login/">Login</a>
                  </li> 
                  {%endif%}
                </ul>
                </ul>
        </div>
    </nav>
      <div class="mx-5 text-wrap col-md-6 mx-auto">
        <p class="text-center display-5 my-5">About Us</p>
        <p>The goal of this webapp is to allow users to store their memories. Through the time capsule features made available on this site, one can create snapshots of their current lives, feelings, and personality. Once a time capsule is saved, the user can choose a time it will unlock. Unitl then, the contents of the time capsule will be unavailable. The goal is that when opening a time capsule, the user can get a glimpse into their own past.  This program is meant to foster both current reflection and future recollection. </p>
      </div> 
      <div class="mx-5 text-wrap col-md-6 mx-auto">
        <p>Note: this site is created by a college student (me) as a part of a course project.</p>
      </div>

      <div class = "row mb-4">
        <div class="col-md-7">
          <p class="text-end display-5 my-5 pe-5">Features</p>
          <div class="text-end px-5">
            <p>This app currently has two time capsule features:</p>
            <div class="text-wrap col-md-6 mx-auto">
            <p class="pe-5 me-5">1. Letter</p>
            <p class="pe-5 me-5">2. Form<p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
        <img src="/static/time_capsule/pocket.png" class="img-fluid pocket">
        </div>
      </div>
      

      <div class="mx-5 mb-5 pb-5 text-wrap col-md-6 mx-auto">
        <p>The <b>letter</b> option is marketed as a letter to your future self. This feature gives the user the freedom to write about whatever they want.</p>
        <p>The <b>form</b> option is a more guided time capsule creation experience. It is designed to allow users to answer different questions made for them to record their current life and mindset.</p>
        <p>The <b>Capsules</b> page is a space where all your created time capsules will be displayed. You will not be able to access those that haven’t reached their unlock data, but once they unlock, you can access them here. You can also see when locked capsules are scheduled to be released </p>
      </div> 

  </body>
</html>
