.jumbotron {
   background-image: url('clocks.jpg');
   background-size: cover;
   height: 100%;
   color:white;
}

.capsule {
   background-image: url('clocks2.jpg');
   background-size: cover;
   height: 100%;
   color:white;
}



.pocket {
   display: block;
   width: 42%;
   height: auto;
}


.btn-custom {
   background-color: #900;
 }
